$flag_icon: url('../statics/icons/flag.png');
$flag_icon_white: url('../statics/icons/flag_white.png');

%hideOnDesktop {
  @include respond-to(desktop) {
    display: none !important;
  }
} 
%hideOnTablet {
  @media only screen and (max-width: $TabletMaxWidth) and (min-width: $MobileMaxWidth + 1px) {
    display: none !important;
  }
}
%hideOnMobile {
  @include respond-to-max(tablet) {
    display: none !important;
  }
}

%limitWidth_Setup {
  width: calc(100% - #{$bodyPadding9});
  max-width: $contentWidthLimit;
  margin-left: auto;
  margin-right: auto;

  @include respond-to(tablet) {
    width: calc(100% - #{$bodyPadding10});
  }
    
  @include respond-to(desktop) {
    width: calc(100% - #{$bodyPadding13});
  }
  
}
%limitWidth {
  @extend %limitWidth_Setup;
}

%imageSize {
  position: relative;
  padding-bottom: 80%;
  width: 100%;
  height: 0;
  overflow: hidden;

  @include respond-to(tablet) {
    padding-bottom: 56%;
  }

  @include respond-to(desktop) {
    padding-bottom: 44%;
  }
}

%imageSizeHalf {
  position: relative;
  padding-bottom: 65%;
  width: 100%;
  height: 0;
  overflow: hidden;

  @include respond-to(tablet) {
    padding-bottom: 45%;
  }

  @include respond-to(desktop) {
    padding-bottom: 35%;
  }
}

%imageSizeDouble {
  position: relative;
  padding-bottom: 95%;
  width: 100%;
  height: 0;
  overflow: hidden;

  @include respond-to(tablet) {
    padding-bottom: 80%;
  }

  @include respond-to(desktop) {
    padding-bottom: 70%;
  }
}

%imageSizeFull {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;

  @include respond-to(tablet) {
    padding-bottom: 100%;
  }

  @include respond-to(desktop) {
    padding-bottom: 100%;
  }
}

%imageInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%videoInner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-50%);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%tiledContentPadding {
  box-sizing: border-box;
  padding: $bodyPadding11 $bodyPadding4;

  @include respond-to(tablet) {
    padding: $bodyPadding11 $bodyPadding4;
  }
}

%tiledContentPadding_NarrowContent {
  box-sizing: border-box;
  padding: $bodyPadding11 0;

  @include respond-to(tablet) {
    padding: $bodyPadding8 $bodyPadding8;
  }
  @include respond-to(desktop) {
    padding: $bodyPadding11 $bodyPadding11;
  }
}

%sectionPadding_Top {
  position: relative;
  box-sizing: border-box;
  padding-top: $bodyPadding7;

  @include respond-to(tablet) {
    padding-top: $bodyPadding10;
  }
}

%sectionPadding_Bottom {
  position: relative;
  box-sizing: border-box;
  padding-bottom: $bodyPadding7;

  @include respond-to(tablet) {
    padding-bottom: $bodyPadding10;
  }
}

%sectionPadding_Both {
  position: relative;
  box-sizing: border-box;
  padding-top: $bodyPadding7;
  padding-bottom: $bodyPadding7;

  @include respond-to(tablet) {
    padding-top: $bodyPadding10;
    padding-bottom: $bodyPadding10;
  }
}

%sectionMargin {
  margin-top: $bodyPadding7;

  @include respond-to(tablet) {
    margin-top: $bodyPadding10;
  }
}

%titleContentCta_Setup {
  .title {
    margin-top: 0;
    margin-bottom: $bodyPadding3;
    text-transform: uppercase;
  }

  .content,
  [class^="content"],
  .content > *,
  [class^="content"] > * {
    font-size: 0.8125em;
    margin-top: 0;
    margin-bottom: $bodyPadding3;
    
    @include respond-to(tablet) {
      font-size: 0.875em;
    }
    @include respond-to(desktop) {
      font-size: 1.125em;
    }
  }

  .cta {
    @extend %ctaButton_Blue;
  }
}

%titleContentCta_Dark {
  @extend %titleContentCta_Setup;

  .title,
  .title > * {
    color: $white;
  }

  .content,
  [class^="content"],
  .content > *,
  [class^="content"] > * {
    color: $greyOne;
  }
}

%titleContentCta_Light {
  @extend %titleContentCta_Setup;

  .title,
  .title > * {
    color: $twilightBlue;
  }

  .content,
  [class^="content"],
  .content > *,
  [class^="content"] > * {
    color: $lightGreyBlue;
  }
}

%contentBody {
  width: 100%;
  margin-bottom: 15px;

  @include respond-to(tablet) {
    // width: calc(100vw - #{$bodyPadding1} - #{$bodyPadding1});
    margin-bottom: 20px;
  }
  @include respond-to(desktop) {
    // width: 100%;
    margin-bottom: 30px;
  }
}

// CTA button

%ctaButton_Setup {
  display: inline-block;
  font-family: $fontFamilyTwo;
  font-size: 0.8125em;
  letter-spacing: 1.53px;
  padding-left: 35px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  @include respond-to(tablet) {
    font-size: 1em;
    padding-left: 50px;
  }
  @include respond-to(desktop) {
    font-size: 1.25em;
    padding-left: 85px;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 9px;
    margin-left: -25px;
    transform: translate(-4px, 2px);
    background-image: url();
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: $flag_icon;

    @include respond-to(tablet) {
      width: 45px;
      height: 12px;
      margin-left: -40px;
      transform: translate(-6px, 0px);
    }
    @include respond-to(desktop) {
      width: 71px;
      height: 17px;
      margin-left: -75px;
      transform: translate(-8px, 2px);
    }
  }
}
%ctaButton_White {
  @extend %ctaButton_Setup;
  color: $white;

  &:before {
    background-image: $flag_icon_white;
  }

}
%ctaButton_Blue {
  @extend %ctaButton_Setup;
  color: $softBlue;
}

// Regular Button

%button_Setup {
  position: relative;
  display: inline-block;
  padding: 3px 10px 2px;
  border: $border1 solid $twilightBlue;
  border-radius: 0;
  box-sizing: border-box;
  background-color: $white;
  font-family: $fontFamilyTwo;
  font-size: 0.8125em;
  text-transform: uppercase;
  text-align: center;
  color: $twilightBlue;
  cursor: pointer;
  letter-spacing: 1.3px;
  line-height: 19px;
  transition: 0.2s;

  -webkit-appearance: none;
  outline: none;

  @include respond-to(tablet) {
    font-size: 1em;
    padding: 11px 15px 9px;
  }  
  @include respond-to(desktop) {
    font-size: 1.25em;
    padding: 10px 20px 9px;

    // &:hover {
    //   background-image: linear-gradient(249deg, $frenchBlue, $twilightBlue);
    //   color: $white;
    // }
  }
}
// regular btn
%buttonRegular {
  @extend %button_Setup;
}
%buttonAlt {
  @extend %button_Setup;
  background-image: linear-gradient(249deg, $frenchBlue, $twilightBlue);
  color: $white;
}
%buttonAlt_2 {
  @extend %button_Setup;
  border: $border1 solid $softBlue;
  background: $transparent;
  color: $softBlue;
}
%buttonAlt_3 {
  @extend %button_Setup;
  border: $border1 solid $softBlue;
  background-image: linear-gradient(249deg, $softBlue, $frenchBlue);
  color: $white;
}
%buttonAlt_4 {
  @extend %button_Setup;
  border: $border2 solid $twilightBlue;
  background-image: linear-gradient(249deg, $twilightBlue, $twilightBlue);
  color: $white;
}
%buttonAlt_5 {
  @extend %button_Setup;
  border: $border1 solid $twilightBlue;
  background: $transparent;
  color: $twilightBlue;
}
