// colours
$transparent: transparent;
$white: #FFF;
$white30pc: rgba(255,255,255,0.3);
$white70pc: rgba(255,255,255,0.7);
$white80pc: rgba(255,255,255,0.8);
$white95pc: rgba(255,255,255,0.95);
$black: #000;
$blackTwo: #2a2a2a;
$greyOne:#c8c8c8;
$steel:#848790;
$coldGrey:#888b8e;
$warmGrey:#979797;
$veryLightGrey:#f6f6f6;
$lightGreyBlue:#b2b7bb;
$lightBlueGrey:#bad7e6;
$lightTeal:#b0dcee;
$softBlue:#78b6d8;
$frenchBlue:#456da3;
$powderBlue:#d6dadc;
$twilightBlue:#0f206c;
$twilightBlue18pc:rgba(15,32,108,0.18);
$twilightBlue40pc:rgba(15,32,108,0.4);
$gold: #EBA800;
$lightNavy: #141f6e;
$duskBlue: #2e4296;
$royalBlue: #151f6d;
$smoke: #6b7087;
$lightGreyBlueAlt: #85b4d5;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// content widths
$contentWidthLimit: 1282px;
$contentWidthLimitNarrow: 1000px;

// padding
$bodyPadding1: 0em;
$bodyPadding2: 0.5em;
$bodyPadding3: 1em;
$bodyPadding4: 1.5em;
$bodyPadding5: 2em;
$bodyPadding6: 2.5em;
$bodyPadding7: 3em;
$bodyPadding8: 3.5em;
$bodyPadding9: 4em;
$bodyPadding10: 4.5em;
$bodyPadding11: 5em;
$bodyPadding12: 5.5em;
$bodyPadding13: 6em;
$bodyPadding14: 6.5em;
$bodyPadding15: 7em;
$bodyPadding16: 7.5em;
$bodyPadding17: 8em;
$bodyPadding18: 8.5em;
$bodyPadding19: 9em;
$bodyPadding20: 9.5em;
$bodyPadding21: 10em;

// font families
$fontFamilyOne: "Knockout HTF31-JuniorMiddlewt Regular", sans-serif;
$fontFamilyTwo: "Knockout HTF28-JuniorFeatherwt Regular", sans-serif;
$fontFamilyThree: "Knockout HTF26-JuniorFlyweight Regular", sans-serif;
$fontFamilyFour: "Knockout HTF33-JuniorHeviwt Regular", sans-serif;

$fontFamilyGTAmerica: "GT America", sans-serif;
$fontFamilyGTAmericaExtended: "GT America Extended", sans-serif;
$fontFamilyGTSectraFine: "GT Sectra Fine", sans-serif;

// font sizes
$fontSizeBody: 16px;

// letter spacing
$letterSpacing1: 1px;
$letterSpacing2: 1.1px;
$letterSpacing3: 1.4px;
$letterSpacing4: 1.6px;
$letterSpacing5: 16px;
$letterSpacing6: 2px;
$letterSpacing7: 0.62px;

// line height
$lineHeight1: 1em;
$lineHeight2: 20px;
$lineHeight3: 21px;
$lineHeight4: 24px;
$lineHeight5: 61px;
$lineHeight6: 34px;
$lineHeight7: 36px;
$lineHeight8: 28px;
$lineHeight9: 1.2em;

// borders
$border1: 2px;
$border2: 4px;
$border3: 7px;
$border4: 10px;
$border5: 25px;
