.post-card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $veryLightGrey;

  .post-content-container {
    box-sizing: border-box;
    padding: $bodyPadding4 $bodyPadding3;
    
    .post-taxonomies {
      color: $smoke;
      font-family: "GT America Extended", sans-serif;
      font-size: 0.75em;
      font-weight: 400;
      letter-spacing: 1.4px;
      line-height: 1.2em;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
    .post-title {
      color: $twilightBlue;
      text-transform: none;
      margin-top: $bodyPadding2;
      margin-bottom: $bodyPadding3;
    }
    
    .post-excerpt {
      font-size: 0.8125em;
      color: $smoke;
      line-height: 1.23;

      @include respond-to(tablet) {
        font-size: 0.875em;
        line-height: 1.14;
      }

      @include respond-to(desktop) {
        font-size: 1.125em;
        line-height: 1.22;
      }
    }

    .post-cta {
      @extend %ctaButton_Gold;
    }
  }
}