$zIndexMenuContainer: 998;
$zIndexMenuOverlay: 997;

body {
  &.is-scrolled {
    header#header-style-1 {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

      &.style-dark {
        background-color: $white95pc;

        .torque-header-content-wrapper {
          .torque-menu-item-children-wrapper {
            background-color: $white;
          }
        }
      }

      &.style-light {
        background-color: $twilightBlue;

        .torque-header-content-wrapper {
          .torque-menu-item-children-wrapper {
            background-color: $twilightBlue;
          }
        }
      }
    }

    &.admin-bar {
      header#header-style-1 {
        @include respond-to-custom(783px) {
          top: 32px;
        }
      }
    }
  }
}

header#header-style-1 {
  z-index: $zIndexMenuContainer;
  height: auto;
  transition: 0.2s ease-in-out 0s;

  .header-top-border {
    display: block;
    width: 100%;
    height: 14px;
    background-color: $royalBlue;

    @include respond-to(tablet) {
      height: 26px;
    }
  }

  .torque-header-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;

    @include useHeaderHeight(height);
    @include useHeaderPadding();
    @extend %limitWidth;

    .torque-header-left-area-wrapper {
      flex: 1;
      height: 100%;

      a {
        div {
          text-align: center;
          max-width: 102px;
          width: auto;

          @include respond-to(tablet) {
            max-width: 148px;
          }
          @include respond-to(desktop) {
            max-width: 165px;
          }
        }
      }

      @include respond-to(desktop) {
        justify-self: flex-start;
      }

      // img.torque-header-logo {}
    }

    .torque-header-right-area-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      @include respond-to(desktop) {
        flex: 3;
        justify-self: flex-end;
      }

      .cta-menu-container {
        position: absolute;
        right: 0;
        top: 0.55em;
        text-align: right;

        @include respond-to-max(desktop) {
          display: none;
        }
        @include respond-to(desktop) {
          display: flex;
        }

        .cta-menu-item > a {
          color: $white;
          font-size: 0.75em;
          font-weight: 500;
          letter-spacing: 1.2px;
          font-family: $fontFamilyGTAmericaExtended;
          text-transform: uppercase;
          min-width: 185px;
          display: block;
        }
      }

      .torque-header-burger-menu-wrapper {

        @include respond-to(desktop) {
          display: none;
        }

        .torque-burger-menu {
          .torque-burger-menu-line {
            background-color: $white;
          }
        }
      }

      .torque-header-menu-items-inline-wrapper {
        flex: 1;

        @include respond-to-max(desktop) {
          display: none;
        }
        @include respond-to(desktop) {
          margin-top: 8px;
        }

        .torque-menu-items-inline {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          // general menu item styles
          .torque-menu-item-wrapper {
            position: relative;
            box-sizing: border-box;
            padding: $bodyPadding2 0;

            .torque-menu-item  {
              color: $white;
              font-family: $fontFamilyGTAmerica;
              font-size: 0.975rem;
              text-transform: capitalize;
            }
          }

          // parent menu items
          & > .torque-menu-item-wrapper {

            // all but first parent menu item
            &:not(:first-child) {
              margin: 0 0 0 $bodyPadding5;
            }

            // with sub-menu items
            &.parent {
              &:hover {
                .torque-menu-item-children-wrapper {
                  top: 100%;
                  height: auto;
                  width: auto;
                  opacity: 1;
                }
              }

              & > a > .torque-menu-item:after {
                position: absolute;
                right: -1.2em;
                padding-left: 0.2em;
                top: 50%;
                transform: translateY(-50%);
                content: "\f347";
                color: $white;
                font-family: "dashicons";
                font-size: 0.8em;
              }
            }
          }

          // sub-menu items
          .torque-menu-item-children-wrapper {
            position: absolute;
            top: 90%;
            left: -1em;
            height: 0;
            opacity: 0;
            min-width: 150px;
            transition: 0.2s ease-in-out;
            padding: $bodyPadding2 $bodyPadding3;
            overflow: hidden;
            background-color: $white;

            .torque-menu-item-wrapper {
              display: block;
            }
          }
        }
      }
    }
  }

  // mobile hamburger menu items
  .torque-header-menu-items-mobile {
    background-color: $twilightBlue;
    padding: $bodyPadding1 $bodyPadding1 $bodyPadding5;

    @include useHeaderSpacer(top, false, false);

    @include respond-to(desktop) {
      display: none;
    }

    .cta-menu-container {
      @extend %limitWidth;
      margin-bottom: $bodyPadding3;

      .cta-menu-item > a {
        color: $white;
        font-size: 0.75em;
        text-transform: uppercase;
      }
    }

    .torque-menu-items-stacked {
      @extend %limitWidth;

      // parent menu items
      & > .torque-menu-item-wrapper {

        .torque-menu-item  {
          color: $white;
          font-size: 1.375em;
          text-align: left;
          text-transform: uppercase;
          padding-top: $bodyPadding2;
          padding-bottom: $bodyPadding2;
        }

        // with sub-menu items
        &.parent {
          &:hover {
            .torque-menu-item-children-wrapper {
              top: 100%;
              height: auto;
              width: auto;
              opacity: 1;
            }
          }

          & > a > .torque-menu-item:after {
            display: inline-block;
            content: "\f347";
            color: $white;
            font-family: "dashicons";
            font-size: 0.8em;
            vertical-align: middle;
            margin-left: 0.2em;
          }
        }
      }

      // sub-menu items
      .torque-menu-item-children-wrapper {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: 0.2s ease-in-out;
        margin-left: $bodyPadding3;

        .torque-menu-item {
          font-size: 1.125em;
          color: $lightGreyBlue;
        }
      }
    }

    &.active {
      box-shadow: 0 10px 10px -2px rgba(0,0,0,0.2);
    }
  }

  // styling for the 'active'/open mobile/tablet menu, to fill the background
  &.active {
    background-color: $twilightBlue;
  }

  // notification bar
  &.include-notification-bar {

    .torque-header-content-wrapper {
      @include useHeaderHeight(height);
    }

    .notification-bar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: $bodyPadding2;
      box-sizing: border-box;
      width: 100%;

      background-image: linear-gradient(88deg, $lightNavy, $duskBlue);

      .notification-bar-content-wrapper {
        display: flex;
        flex-direction: column;
        padding: $bodyPadding2 $bodyPadding1;

        @include respond-to(tablet) {
          flex-direction: row;
        }

        .notification-bar-content {
          color: $white;
          font-size: 0.625em;
          font-family: $fontFamilyGTAmericaExtended;
          line-height: 1;
          letter-spacing: 0;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1.2px;

          @include respond-to(tablet) {
            font-size: 0.75rem;
            line-height: 1.2;
            padding-right: $bodyPadding3;
          }
        }

        .notification-bar-cta {
          @extend %ctaButton_White;
        }
      }

      .notification-bar-close-btn {
        display: none;
      }
    }

    .torque-header-menu-items-mobile {
      @include useHeaderSpacer(top, false, true);
    }
  }

  // update for dark header
  &.style-dark {
    .torque-header-content-wrapper .torque-header-right-area-wrapper .torque-header-menu-items-inline-wrapper .torque-menu-items-inline .torque-menu-item-wrapper .torque-menu-item,
    .torque-header-content-wrapper .torque-header-right-area-wrapper .torque-header-menu-items-inline-wrapper .torque-menu-items-inline > .torque-menu-item-wrapper.parent > a > .torque-menu-item:after,
    .torque-header-menu-items-mobile .torque-menu-items-stacked > .torque-menu-item-wrapper .torque-menu-item,
    .torque-header-menu-items-mobile .cta-menu-container .cta-menu-item > a,
    .torque-header-menu-items-mobile .torque-menu-items-stacked > .torque-menu-item-wrapper.parent > a > .torque-menu-item:after
    {
      color: $smoke !important;
    }

    .torque-header-content-wrapper .torque-header-right-area-wrapper .cta-menu-container .cta-menu-item > a {
      color: $royalBlue !important;
    }

    // burger menu
    .torque-burger-menu.burger-menu-squeeze .torque-burger-menu-line
    {
      background-color: $smoke !important;
    }

    // mobile menu active
    &.active {
      background-color: $white95pc !important;
    }
    .torque-header-menu-items-mobile {
      background-color: $white95pc !important;
    }
  }

}
