$zIndexMenuContainer: 998;
$zIndexMenuOverlay: 997;

header#header-style-1 {
  z-index: $zIndexMenuContainer;
  height: auto;
  background-color: $twilightBlue18pc;

  .header-top-border {
    display: block;
    width: 100%;
    height: 14px;
    background-color: $twilightBlue;

    @include respond-to(tablet) {
      height: 26px;
    }
  }

  .torque-header-content-wrapper {
    display: flex;
    flex-direction: row;

    @include useHeaderHeight(height);
    @include useHeaderPadding();
    @extend %limitWidth;

    .torque-header-left-area-wrapper {
      flex: 1;
      height: 100%;

      a {
        div {
          text-align: center;
          max-width: 214px;
          width: auto;
        }
      }
      
      @include respond-to(desktop) {
        justify-self: flex-start;
      }

      // img.torque-header-logo {}
    }

    .torque-header-right-area-wrapper {
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include respond-to(desktop) {
        justify-self: flex-end;
      }

      .torque-header-burger-menu-wrapper {
        @include respond-to(desktop) {
          display: none;
        }
      }

      .torque-header-menu-items-inline-wrapper {
        flex: 1;

        @include respond-to-max(desktop) {
          display: none;
        }

        .torque-menu-items-inline {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          // general menu item styles
          .torque-menu-item-wrapper {
            position: relative;
            box-sizing: border-box;
            padding: $bodyPadding2 0;
            width: 100%;

            .torque-menu-item  {
              // color: $white;
              text-transform: uppercase;
            }
          }

          // parent menu items
          & > .torque-menu-item-wrapper {

            // all but first parent menu item
            &:not(:first-child) {
              margin: 0 0 0 $bodyPadding2;
            }

            // with sub-menu items
            &.parent {
              &:hover {
                .torque-menu-item-children-wrapper {
                  top: 100%;
                  height: auto;
                  width: auto;
                  opacity: 1;
                }
              }

              & > a > .torque-menu-item:after {
                content: "\f347";
                font-family: "dashicons";
                font-size: 0.8em;
                // color: $white;
                display: inline-block;
              }
            }
          }

          // sub-menu items
          .torque-menu-item-children-wrapper {
            position: absolute;
            top: 0%;
            left: 0;
            height: 0;
            opacity: 0;
            min-width: 150px;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
  }

  // mobile hamburger menu items
  .torque-header-menu-items-mobile {
    @include useHeaderSpacer(top, false, false);
    
    @include respond-to(desktop) {
      display: none;
    }
  }

  // notification bar
  &.include-notification-bar {

    .torque-header-content-wrapper {
      @include useHeaderHeight(height);
    }

    .notification-bar-container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: $bodyPadding2;
      box-sizing: border-box;
      width: 100%;
  
      background-image: linear-gradient(to bottom, $lightTeal, $softBlue);

      // @include respond-to(desktop) {}
  
      .notification-bar-content-wrapper {
        padding: $bodyPadding2 $bodyPadding1;
  
        .notification-bar-content {
          color: $white;
          padding-right: $bodyPadding1;
        }
    
        .notification-bar-cta {
          @extend %useCtaButtonWhite;
        }
      }
  
      .notification-bar-close-btn {
        // hidden for now
        display: none;

        position: absolute;
        right: $bodyPadding1;
        
        transform: rotate(45deg);
        transform-origin: center;
        
        font-size: 2.8em;
        font-weight: 300;
        cursor: pointer;

        @include respond-to(tablet) {
          font-size: 2em;
        }

        @include respond-to(desktop) {
          right: $bodyPadding2;
        }
      }
    }

    .torque-header-menu-items-mobile {
      @include useHeaderSpacer(top, false, true);
    }
  }
}
