@font-face {
  font-family: "Knockout HTF26-JuniorFlyweight Regular";
  src: url('../statics/fonts/Knockout HTF26-JuniorFlyweight Regular/Knockout HTF26-JuniorFlyweight Regular.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Knockout HTF28-JuniorFeatherwt Regular";
  src: url('../statics/fonts/Knockout HTF28-JuniorFeatherwt Regular/Knockout HTF28-JuniorFeatherwt Regular.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Knockout HTF31-JuniorMiddlewt Regular";
  src: url('../statics/fonts/Knockout HTF31-JuniorMiddlewt Regular/Knockout HTF31-JuniorMiddlewt Regular.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Knockout HTF33-JuniorHeviwt Regular";
  src: url('../statics/fonts/Knockout HTF33-JuniorHeviwt Regular/Knockout HTF33-JuniorHeviwt Regular.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

// new fonts
@font-face {
    font-family: 'GT America';
    src: url('../statics/fonts/updated-fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('../statics/fonts/updated-fonts/GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('../statics/fonts/updated-fonts/GTAmerica-ExtendedMedium.woff2') format('woff2'),
        url('../statics/fonts/updated-fonts/GTAmerica-ExtendedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Sectra Fine';
    src: url('../statics/fonts/updated-fonts/GTSectraFine-Medium.woff2') format('woff2'),
        url('../statics/fonts/updated-fonts/GTSectraFine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('../statics/fonts/updated-fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('../statics/fonts/updated-fonts/GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

