.property-card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .property-content-container {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 236px;
    background: $twilightBlue;
    padding: $bodyPadding2;
    
    @include respond-to(tablet) {
      max-width: 205px;
    }
    
    @include respond-to(desktop) {
      padding: $bodyPadding2 $bodyPadding3;
    }

    // .property-taxonomies {}
    
    .property-title {
      color: $white;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // &.style-1 {}
}