.single-post-title {
  @extend %limitWidth;
  @extend %sectionPadding_Both;
  text-align: left;

  @include respond-to-max(tablet) {
    padding-top: $bodyPadding5;
    padding-bottom: $bodyPadding5;
  }

  @include respond-to-max(desktop) {
    padding-top: $bodyPadding3;
    padding-bottom: $bodyPadding3;
  }

  h1 {
    margin-bottom: 0;

    @include respond-to(tablet) {
      margin-bottom: $bodyPadding2;
    }
  }

  .wp-post-image {
    margin-top: $bodyPadding6;
    width: 100%;
    height: auto;
  }

  .post-thumbnail-caption {
    color: $blackTwo;
    text-align: left;
    padding: 5px;
  }
}
