.tq-careers {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Top;

  .two-column-wrapper {
    display: flex;
    flex-direction: column-reverse;

    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &.align-right {
      @include respond-to(tablet) {
        flex-direction: row-reverse;
      }
    }

    // shared styles
    .col-left,
    .col-right {
      position: relative;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      min-height: 250px;

      @include respond-to(tablet) {
        margin-bottom: 0;
        min-height: 370px;
      }
    }

    // left col styles
    .col-left {

      @include respond-to(tablet) {
        flex: 0 1 calc(57% - 12.5px);
      }

      // .careers-image {}

      .torque-recruiterbox-react-entry {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        @include respond-to(tablet) {
          padding-left: 12%;
        }

        .openings-container {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          max-height: 400px;

          &::-webkit-scrollbar {
            width: 0.8em;
          }

          &::-webkit-scrollbar-track {
            box-shadow: none;
            background: $powderBlue;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $softBlue;
            outline: none;
          }

          .opening-container {
            padding: 1em 0;
            margin-left: 2.5%;
            margin-right: 2.5%;
            border-bottom: 0.5px solid $steel;

            @include respond-to(tablet) {
              margin-right: 8%;
            }

            .opening-wrapper {
              .opening-title {
                display: block;
                color: $royalBlue;
                font-size: 1.125rem;
                font-family: $fontFamilyGTAmerica;
                font-weight: bold;
              }
              .opening-address {
                display: block;
                color: $smoke;
                font-size: 1rem;
                font-family: $fontFamilyGTAmerica;
              }
            }
          }
        }
        // .openings-container-none {}
      }
    }

    // right col styles
    .col-right {
      @extend %tiledContentPadding_NarrowContent;

      @include respond-to-max(tablet) {
        padding-left: $bodyPadding4;
        padding-right: $bodyPadding4;
      }
      @include respond-to(tablet) {
        flex: 0 1 calc(43% - 12.5px);
      }

      padding-top: 0;
      justify-content: flex-start;

      &.bg-light_grey {
        border-top: $border3 solid $softBlue;
        background-color: $veryLightGrey;
      }
      &.flush-text-to-left {
        padding-left: 0px;
      }

      .content-wrapper {
        @extend %titleContentCta_Light;

        .content {
          letter-spacing: 0;

          @include respond-to(tablet) {
            max-width: 75%;
          }

          & > * {
            font-size: 1em;
            line-height: 1.14;
          }
        }
      }
    }
  }
}
