.tq-cta-banner-small {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  background-image: linear-gradient(to bottom, $lightTeal, $softBlue);

  // @include respond-to(tablet) {}
  // @include respond-to(desktop) {}
  
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    box-sizing: border-box;
    padding: $bodyPadding4 $bodyPadding1;
    width: 100%;
    
    text-align: center;

    @include respond-to(tablet) {
      flex-direction: row;
    }

    .title {
      color: $white;
      font-family: $fontFamilyFour;
      font-size: 0.65em;
      font-weight: 400;
      margin: 0 0 $bodyPadding2;
      padding-right: $bodyPadding1;
      
      @include respond-to(tablet) {
        font-size: 1em;
        margin-bottom: 0;
        padding-right: $bodyPadding2;
      }
      
      @include respond-to(desktop) {
        font-size: 1.5625em;
      }
    }

    .cta {
      @extend %ctaButton_White;
    }
  }
}
