.tq-hero {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  // feature image styling
  .type-image {
    @extend %imageSize;

    .hero-image {
      @extend %imageInner;
    }
  }

  .text-container {
    height: 100%;
    box-sizing: border-box;
    padding-top: $bodyPadding4;
    padding-bottom: $bodyPadding7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: $white;

    @extend %limitWidth;

    @include respond-to(tablet) {
      padding-bottom: $bodyPadding10;
    }

    @include respond-to(desktop) {
      padding-bottom: $bodyPadding10;
    }

    .text-top {
      width: 100%;
      max-width: 273px;
      margin-left: 0;
      margin-right: auto;
      
      & > * {
        font-size: 0.9375em;
        line-height: 1.067em;
        margin-bottom: 0;
      }

      @include respond-to(tablet) {
        max-width: 375px;

        & > * {
          font-size: 1.3125em;
        }
      }

      @include respond-to(desktop) {
        max-width: 574px;
        
        & > * {
          font-size: 2.25em;
        }
      }
    }
    
    .text-bottom {
      width: 100%;
      max-width: 273px;
      margin-left: 0;
      margin-right: auto;
      margin-top: 12px;
      
      & > * {
        font-size: 0.8125em;
        line-height: 1.2307em;
        margin-bottom: 0;
      }

      @include respond-to(tablet) {
        max-width: 375px;
        margin-top: 25px;

        & > * {
          font-size: 1em;
        }
      }

      @include respond-to(desktop) {
        max-width: 574px;

        & > * {
          font-size: 1.5625em;
        }
      }
    }
  }
}
