.tq-logo-grid {
  position: relative;
  @extend %sectionMargin;

  &.bg-light_grey {
    border-top: $border3 solid $softBlue;
    background-color: $veryLightGrey;
  }
  
  .content-container {
    @extend %limitWidth;
    @extend %sectionPadding_Both;
    text-align: center;

    @extend %titleContentCta_Light;

    .title {
      color: $softBlue;
      font-size: 0.75em;
      font-family: $fontFamilyFour;

      @include respond-to(tablet) {
        font-size: 1em;
        margin-bottom: $bodyPadding4;
      }

      @include respond-to(desktop) {
        font-size: 1.125em;
      }
    }

    .content {
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;

      & > * {
        font-size: 0.8125em;
        line-height: 1.23;

        @include respond-to(tablet) {
          font-size: 1em;
          line-height: 1.19;
        }

        @include respond-to(desktop) {
          line-height: 1.14;
        }
      }
    }

    .cta {

    }

    .logos-container {
      display: flex;
      flex-wrap: wrap;
  
      text-align: center;
  
      @include respond-to(tablet) {
        &.one-col {
          padding: 0 1%;
          
          .logo-container {
            flex: 1 1 100%;
          }
        }
        &.two-cols {
          padding: 0 10%;
  
          .logo-container {
            flex: 0 0 50%;
          }
        }
        &.three-cols {
          padding: 0 10%;
  
          .logo-container {
            flex: 0 0 33.33%;
          }
        }
        &.four-cols {
          padding: 0 20%;
  
          .logo-container {
            flex: 0 0 25%;
          }
        }
        &.five-cols {
          padding: 0 20%;
  
          .logo-container {
            flex: 0 0 20%;
          }
        }
      }

      &.additional-padding-top {
        padding-top: $bodyPadding6;
      }
      &.additional-padding-bottom {
        padding-bottom: $bodyPadding6;
      }
  
      .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px 15px;
  
        @include respond-to-max(tablet) {
          flex: 0 0 33.33%;
        }
  
        .logo {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
