.tq-masonry {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Top;

  h2 {
    text-align: center;
    color: #78b6d8;
    font-size: 0.75rem;
    font-family: "Knockout HTF33-JuniorHeviwt Regular", sans-serif;
    letter-spacing: 1.41px;

    @include respond-to(tablet) {
      font-size: 1rem;
    }
    @include respond-to(desktop) {
      font-size: 1.5rem;
    }
  }

  //masonry styles
  .masonry-gallery {
    display: flex;
    flex-wrap: wrap;

    @include respond-to(tablet) {
      gap: 1rem;
    }

    .masonry-item {
      overflow: hidden;
      width: 100%;
      margin-bottom: 1rem;

      @include respond-to(tablet) {
        width: calc(33% - 1rem);
        margin-bottom: 0px;

        &.quarter {
          width: calc(25% - 1rem);
        }

        &.half {
          width: calc(50% - 1rem);
        }
      }



      img {
        object-fit: cover;
        object-position: center;
        height: 300px;
        width: 100%;

        @include respond-to-custom(1400px) {
          height: 450px;
        }
      }
    }
  }


}
