.tq-property-showcase {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Top;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr;
  // grid-gap: 10px;

  @include respond-to(tablet) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  // &.align-right {}
  &.align-left {
    @include respond-to(tablet) {
      grid-template-columns: 2fr 1fr;

      .content-left {
        grid-column: 2;
        grid-row: 1;
        margin-right: 0;
      }
      .content-right {
        grid-column: 1;
        grid-row: 1;
        margin-right: 10px;
      }
    }
  }

  .content-left {
    border-top: $border3 solid $twilightBlue;
    margin-bottom: 10px;

    min-height: 200px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @extend %tiledContentPadding;

    @include respond-to(tablet) {
      margin-bottom: 0;
      margin-right: 10px;
      min-height: 370px;
    }

    @include respond-to(desktop) {
      min-height: 635px;
    }

    .content-wrapper {
      @extend %titleContentCta_Dark;
    }
  }

  .content-right {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);

    .content-top {
      border-top: $border3 solid $twilightBlue;
      margin-bottom: 10px;
    }

    .content-bottom {
      border-top: $border3 solid $twilightBlue;
      margin-bottom: 0;
    }
  }
}
