.tq-team-grid {
  @extend %limitWidth;
 
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @extend %sectionPadding_Top;  

    &:after {
      content: '';
      flex: 1 1 100%;
      
      @include respond-to(tablet) {
        flex: 0 0 49%;
      }
      @include respond-to(desktop) {
        flex: 0 0 24%;
      }
    }

    .team-card {
      flex: 1 1 100%;
      padding-bottom: $bodyPadding5;
      
      @include respond-to(tablet) {
        flex: 0 0 49%;
      }
      
      @include respond-to(desktop) {
        flex: 0 0 24%;
      }

      .team-content-container {
        .team-image-wrapper {
          border-top: $border3 solid $twilightBlue;
          @extend %imageSizeFull;
          .team-image {
            @extend %imageInner;
          }
        }

        .team-name {
          color: $twilightBlue;
          font-size: 2.0625em;
          font-family: $fontFamilyThree;
          margin-top: $bodyPadding2;
          margin-bottom: 0.25em;

          @include respond-to(desktop) {
            font-size: 2.6875em;
          }
        }
        
        .team-title {
          color: $softBlue;
          font-size: 0.75em;
          font-family: $fontFamilyFour;
          letter-spacing: 1.41px;
          line-height: 1.41em;
          margin-bottom: $bodyPadding4;
          margin-left: 0;
          margin-right: auto;
          max-width: 95%;
        }
      }
    }
  }
}