.tq-team-grid {
  @extend %limitWidth;

  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @extend %sectionPadding_Top;

    @include respond-to(tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond-to(desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .team-card {
      padding-bottom: $bodyPadding5;
      
      .team-content-container {
        .team-image-wrapper {
          border-top: $border3 solid $twilightBlue;
          @extend %imageSizeFull;
          .team-image {
            @extend %imageInner;
          }
        }

        .team-name {
          color: $royalBlue;
          font-size: 2.0625em;
          font-family: $fontFamilyThree;
          margin-top: $bodyPadding2;
          margin-bottom: 0.25em;

          @include respond-to(desktop) {
            font-size: 2.6875em;
          }
        }

        .team-title {
          color: $smoke;
          font-size: 0.75em;
          font-family: $fontFamilyFour;
          letter-spacing: 1.41px;
          line-height: 1.41em;
          margin-bottom: $bodyPadding4;
          margin-left: 0;
          margin-right: auto;
          max-width: 95%;
        }
      }
    }
  }
}
