.tq-three-column-content {
  background-color: $veryLightGrey;
  border-top: $border4 solid $softBlue;

  @extend %sectionMargin;
  
  .three-column-wrapper {
    position: relative;

    @extend %limitWidth;
    @extend %sectionPadding_Both;

    display: flex;
    flex-direction: column;

    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    .col-one,
    .col-two,
    .col-three {
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      
      @include respond-to(tablet) {
        align-items: center;
        justify-content: center;

        margin-bottom: 0;

        box-sizing: border-box;
        padding: 0 $bodyPadding4;
      }

      .content-wrapper {
        @extend %titleContentCta_Light;
      }
    }

    .col-one {
      @include respond-to(tablet) {
        flex: 0 1 45%;
        padding-right: $bodyPadding5;
      }
      @include respond-to(desktop) {
        flex: 0 1 40%;
        padding-right: $bodyPadding15;
      }
    }
    .col-two {
      @include respond-to(tablet) {
        flex: 0 1 32.5%;
        padding-right: $bodyPadding5;
      }
      @include respond-to(desktop) {
        flex: 0 1 30%;
        padding-right: $bodyPadding15;
      }

      .content-wrapper {
        h4.title {
          color: $softBlue;
        }
      }
    }
    .col-three {
      @include respond-to(tablet) {
        flex: 0 1 32.5%;
        padding-right: $bodyPadding5;
      }
      @include respond-to(desktop) {
        flex: 0 1 30%;
        padding-right: $bodyPadding15;
      }

      .content-wrapper {
        h4.title {
          color: $softBlue;
        }
      }
    }
  }
}