.tq-title-embedded-script {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Top;
  
  .content-container {
    text-align: center;

    // .title {}
    
    .embedded-script {
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;

      .rbox-opening-list {
        font-family: $fontFamilyOne;
        font-size: $fontSizeBody;
        line-height: $lineHeight3;
        color: $greyOne;
      }
    }
  }
}
