.tq-title-intro {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding;
  
  .content-container {
    text-align: center;

    .title {
      color: $twilightBlue;
      text-transform: uppercase;
    }
    
    .intro {
      color: $lightGreyBlue;
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
    }

    .cta {
      @extend %ctaButton_Blue;
    }
  }
}
