.tq-title-intro {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Top;

  .content-container {
    text-align: center;

    // .title {}

    .intro {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;

      & > * {
        color: $lightGreyBlue;
        font-size: 1.2em;
        line-height: 1.25;
      }

      ul {
        letter-spacing: 0;
        list-style-type: disc;
        margin: 0.5em 0 0.5em 1em;

        li {
          letter-spacing: 0;
          list-style-type: disc;
          margin: 0.5em 0 0.5em 1em;
        }
      }
    }

    .cta {
      @extend %ctaButton_Blue;
    }
  }
}

/* About page left align intro section */
.page-id-23 .intro {
    text-align: left;

    p:first-child {
        text-align: center;
    }
}
