/* 
FROM Lena: 
  Careers page — This code allows us to show the entire image of the process map. This code won't work if we use another one of the same module on this page. The site is built to have this module set a background photo and set it to 'cover', but we need it, in this case, to be set to "contain" 
*/
body.page-id-29 .tq-title-content-image .col-left {
  background-size: contain !important;
}
/* -- */

.tq-title-content-image {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Top;
  
  .two-column-wrapper {
    display: flex;
    flex-direction: column-reverse;

    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &.align-right {
      @include respond-to(tablet) {
        flex-direction: row-reverse;
      }
    }

    // shared styles
    .col-left,
    .col-right {
      position: relative;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      min-height: 250px;
      
      @include respond-to(tablet) {
        margin-bottom: 0;
        min-height: 370px;
      }

      @include respond-to(desktop) {
        min-height: 500px;
      }
    }

    // left col styles
    .col-left {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include respond-to(tablet) {
        flex: 0 1 calc(53% - 8px);
      }
    }

    // right col styles
    .col-right {
      @extend %tiledContentPadding_NarrowContent;

      @include respond-to-max(tablet) {
        padding-left: $bodyPadding4;
        padding-right: $bodyPadding4;
      }
      @include respond-to(tablet) {
        flex: 0 1 calc(43% - 12.5px);
      }

      &.bg-light_grey {
        border-top: $border3 solid $gold;
        background-color: $veryLightGrey;
      }

      .content-wrapper {
        @extend %titleContentCta_Smoke;

        .content {
          letter-spacing: 0;
          
          & > * {
            font-size: 1.125rem;
            line-height: 1.5;
          }
        }
        .title {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}