.torque-filtered-loop {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Both;
  // override the bottom padding
  padding-bottom: $bodyPadding9;

  @include respond-to(tablet) {
    padding-bottom: $bodyPadding12;
  }

  display: flex;
  flex-wrap: wrap;


  .filters-wrapper {
    flex: 1 1 100%;

    @include respond-to(desktop) {
      flex: 0 0 25%;
    }

    & > div {
      margin-bottom: $bodyPadding2;
      
      @include respond-to(desktop) {
        margin-bottom: $bodyPadding4;
      }
    }

    // tabs styling
    .torque-custom-filter-tabs {
      .tabs-title-wrapper {
        margin-bottom: $bodyPadding2;

        .tabs-title {
          color: $softBlue;
          font-family: $fontFamilyFour;
          font-size: 0.75em;
          text-transform: uppercase;

          .pre-title {
            display: none;
          }
        }

        .accordion-toggle {
          display: none;
        }
      }

      .tabs-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        @include respond-to-max(desktop) {
          margin-left: 2px;
        }

        @include respond-to(desktop) {
          flex-direction: column;
        }

        &.view-toggle,
        &.multi-select 
        {
          .tabs-item {
            position: relative;
            padding-left: 25px;

            @include respond-to(tablet) {
              padding-left: 35px;
            }
            // @include respond-to(desktop) {}

            &:before {
              content: '+';
              font-family: 'Courier New', Courier, monospace, sans-serif;
              font-size: 2em;
              font-weight: 100;
              position: absolute;
              left: 5px;
              top: 50%;
              transform: translateY(-45%);

              @include respond-to(tablet) {
                font-size: 1.8em;
                left: 8px;
                transform: translateY(-50%);
              }
              @include respond-to(tablet) {
                font-size: 1.6em;
              }
            }
          }
        }

        &.view-toggle {
          flex-direction: row;

          .tabs-item {
            margin-left: -2px;
            padding-left: 35px;
            padding-right: 20px;
  
            @include respond-to(tablet) {
              padding-left: 45px;
              padding-right: 25px;
            }
            @include respond-to(desktop) {
              padding-right: 30px;
            }

            &.grid {
              &:before {
                content: '\f509';
                font-family: 'dashicons';
                font-size: 1em;
              }
            }
            &.map {
              &:before {
                content: "\f230";
                font-family: 'dashicons';
                font-size: 1em;
              }
            }
          }
        }

        .tabs-item {
          @extend %buttonRegular;
          margin-bottom: $bodyPadding2;

          @include respond-to-max(desktop) {
            margin-left: -2px;
          }

          &.selected {
            @extend %buttonAlt;
          }
        }
      }
    }
  }

  .map-wrapper {
    flex: 1 1 100%;
    margin-top: $bodyPadding3;
    position: relative;
    height: 450px;
    
    @include respond-to(desktop) {
      flex: 1 1 75%;
      margin-top: 0;
      height: 550px;
    }

    .gm-style-iw {
      box-shadow: 0px 0px 0px 1px $warmGrey;
      border-radius: 0;

      &:after {
        box-shadow: 0px 0px 0px 1px $warmGrey;
      }

      & > button {
        color: $twilightBlue;
      }

      .infowindow {
        padding: $bodyPadding2;

        .title {
          color: $twilightBlue;
          font-family: $fontFamilyTwo;
          font-size: 2.307em;
        }

        .address {
          color: $steel;
          font-family: $fontFamilyFour;
          font-size: 0.9231em;
          line-height: 1.2;
        }

        .cta {
          @extend %buttonAlt_5;
          padding-right: 40px;
          margin-top: $bodyPadding2;

          &:after {
            content: '\F347';
            font-family: 'dashicons';
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-42%);
          }

          &.opened {
            @extend %buttonAlt_4;
            padding-right: 40px;

            &:after {
              content: '\f335';
            }
          }
        }
      }
    }

    .info-box-wrapper {
      top: calc(450px + #{$bodyPadding5});
      
      @include respond-to(desktop) {
        top: calc(550px + #{$bodyPadding5});
      }
    }
    &.info-box-open {
      margin-bottom: calc(350px + #{$bodyPadding5});
      
      @include respond-to(desktop) {
        margin-bottom: calc(400px + #{$bodyPadding5});
      }
    }
  }

  .info-box-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-self: start;

    background-image: linear-gradient(249deg, $frenchBlue, $twilightBlue);
    padding: $bodyPadding3;

    position: absolute;
    left: 0;
    right: 0;

    z-index: 99;

    @include respond-to(tablet) {
      flex-direction: row;
      padding: $bodyPadding6 $bodyPadding7;
    }

    // general col styles
    .info-box-col1,
    .info-box-col2 {
      box-sizing: border-box;
      flex: 1 1 100%;

      @include respond-to(tablet) {
        flex: 0 0 50%;
      }
      
      & > * {
        color: $white;
      }
    }
    
    // col 1 styles
    .info-box-col1 {
      @include respond-to-max(tablet) {
        padding: $bodyPadding3;
      }
      @include respond-to(tablet) {
        padding-right: 2em;
      }

      .info-box-title {
        @include respond-to-max(tablet) {
          margin-top: $bodyPadding2;
        }
      }

      .info-box-address-wrapper {
        color: $lightBlueGrey;
        font-family: $fontFamilyFour;
        font-size: 0.75em;
        line-height: 1.17;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
      }

      .info-box-excerpt {
        margin-top: $bodyPadding4;

        & > * {
          @include respond-to(desktop) {
            font-size: 1.125em;
            letter-spacing: 1.2px;
          } 
        }
      }

      .info-box-buttons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: start;
        flex-wrap: wrap;
        margin-top: $bodyPadding4;

        &:after {
          content: '';
          flex: 1 1 100%;

          @include respond-to(tablet) {
            flex: 0 0 48%;
          }
        }

        .info-box-button {
          @extend %buttonAlt_2;
          flex: 1 1 100%;
          margin-bottom: $bodyPadding2;

          @include respond-to(tablet) {
            flex: 0 0 48%;
            margin-bottom: 0;
          }
        }
      }
    }
    
    // col 2 styles
    .info-box-col2 {
      @include respond-to(tablet) {
        padding-left: 2em;
      }

      .featured-image-wrapper {
        @extend %imageSizeDouble;

        .featured-image {
          @extend %imageInner;
        }
      }
    }
  }

  .posts-wrapper {
    flex: 1 1 100%;
    align-self: flex-start;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: $bodyPadding3;
    position: relative;
    
    @include respond-to(desktop) {
      flex: 1 1 75%;
      margin-top: 0;
    }

    &:after {
      content: '';
      flex: 1 1 100%;
      
      @include respond-to(tablet) {
        flex: 0 0 49%;
      }
      @include respond-to(desktop) {
        flex: 0 0 32%;
      }
    }

    .loop-post {
      flex: 1 1 100%;
      margin-bottom: $bodyPadding5;
      
      @include respond-to(tablet) {
        flex: 0 0 49%;
      }
      @include respond-to(desktop) {
        flex: 0 0 32%;
      }

      .featured-image-wrapper {
        @extend %imageSizeDouble;

        .featured-image {
          @extend %imageInner;
        }
      }

      // general styles for each post
      .content-wrapper {
        box-sizing: border-box;

        .post-terms-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;

          .term {
            color: $softBlue;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;

            &:after {
              content: ',';
              margin-right: $bodyPadding2;
            }
            
            &:last-of-type {
              display: block;

              &:after {
                content: '';
              }
            }
          }
        }
        
        .post-title {
          color: $twilightBlue;
          text-transform: uppercase;
          margin-bottom: 0.2em;
        }
        
        .post-excerpt {
          color: $lightGreyBlue;
          margin-bottom: 1.2em;
        }
      }

      // blog post
      &.template-3 {
        background: $veryLightGrey;
        border-top: $border3 solid $softBlue;

        .content-wrapper {
          padding: $bodyPadding4 $bodyPadding3;

          .post-terms-wrapper {
            .term {
              display: none;
  
              &:first-of-type {
                display: block;
              }
            }
          }
        
          .post-title {
            margin-top: 0.2em;
          }
    
          .post-cta {
            @extend %ctaButton_Blue;
          }
        }
      }

      // investment post
      &.template-4 {
        border-top: $border3 solid $twilightBlue;

        .content-wrapper {
          padding: $bodyPadding2 $bodyPadding1 $bodyPadding1;

          .post-terms-wrapper {
            margin-top: 0.6em;
          }
        
          .post-title {
            margin-top: 0em;
          }
    
          .post-cta {
            @extend %buttonAlt_2;
            padding-right: 40px;

            &:after {
              content: '\F347';
              font-family: 'dashicons';
              position: absolute;
              right: 12px;
              top: 50%;
              transform: translateY(-42%);
            }

            &.opened {
              @extend %buttonAlt_4;
              padding-right: 40px;

              &:after {
                content: '\f335';
              }
            }
          }
        }
      }

      // retail post
      &.template-5 {
        border-top: $border3 solid $twilightBlue;

        .content-wrapper {
          padding: $bodyPadding2 $bodyPadding1;

          .post-terms-wrapper {
            margin-top: 0.6em;
          }
        
          .post-title {
            margin-top: 0em;
          }
    
          .post-cta {
            @extend %buttonAlt_2;
            padding-right: 40px;

            &:after {
              content: '\f345';
              font-family: 'dashicons';
              position: absolute;
              right: 8px;
              top: 50%;
              transform: translateY(-42%);
            }
            
            &:hover {
              @extend %buttonAlt_3;
              padding-right: 40px;
            }
          }
        }
      }
    }
  }

  .torque-filtered-loop-load-more {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);

    @extend %ctaButton_Blue;

    @include respond-to(desktop) {
      left: 62.5%; // half the post container width + the sidebar width
    }
  }

  // blog
  &.template-3 {
    .filters-wrapper {
      .torque-custom-filter-tabs {

        @include respond-to-max(desktop) {
          &:nth-child(2) {
            display: none;
          }
        }

        .tabs-title-wrapper {
          .accordion-toggle {
            display: inline-block;
            cursor: pointer;
            font-size: 0.8em;
            margin-left: 10px;
          }
        }
      }
    }
    .tabs-wrapper {
      &.accordion {
        flex-wrap: nowrap;
        transition: 1s ease-in-out;
        max-height: 415px;
        overflow: hidden;
    
        &.expanded {
          max-height: unset;
        }
      }
    }
  }
}
