.page-hero {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  // feature image styling
  .type-image {
    @extend %imageSize;

    @include respond-to-max(desktop) {
      padding-bottom: 45vh;
    }

    .hero-image {
      @extend %imageInner;
    }
  }
}
