$scrolltop-position-right: 10px !default; //position from the right border of the screen
$scrolltop-position-bottom: 40px !default; //position from the bottom of the screen

html {
  scroll-behavior: smooth;
}

.scrolltop {
  display: block;
  bottom: $scrolltop-position-bottom;
  right: $scrolltop-position-right;
  position: fixed;
  z-index: 9999;
  transform: translateX(120px);
  transition: 1s all;

  @media only screen and (min-width: 768px) {
    bottom: $scrolltop-position-bottom - 20px;
    right: $scrolltop-position-right + 10px;
  }

  @media only screen and (min-width: 1024px) {
    bottom: $scrolltop-position-bottom - 10px;
    right: $scrolltop-position-right + 20px;
  }

}
