//the search form
.desktop-search-form {
  .search-form {
    width: 100%;

    @include respond-to-max(desktop) {
      display: none;
    }
  }
}

.search-form {
  width: calc(100% - 4em);
  margin-left: auto;
  margin-right: auto;

  .search-field {
    border: none;
    background: none;
    border-bottom: #78b6d8 1px solid;
    min-width: 240px;
    color: #78b6d8;
    font-size: 12px;
    letter-spacing: 0.68px;
    font-family: $fontFamilyFour;
    text-transform: uppercase;

    &:focus {
      outline: 2px solid;
      outline-color: #ADDAED;
    }

    @include respond-to(desktop) {
      position: relative;
      left: 35px;
      top: -2px;
      padding: 4px 10px 4px 4px;
    }


    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #78b6d8;
      opacity: 1; /* Firefox */
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #78b6d8;
    }
  }
  .search-submit {
    background: none;
    border: none;
    min-width: 50px;
    color: #78b6d8;
  }
}

//the search results
.tq-search-results {
  position: relative;
  @extend %limitWidth;
  @extend %sectionPadding_Top;

  //page title
  header .page-title {
    font-size: 5rem;
    line-height: 4.375rem;
    letter-spacing: 0.85px;
    margin-bottom: 34px;
  }

  .search-result-count {
    color: $softBlue;
    text-transform: uppercase;
    margin-bottom: 89px;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.96px;
    font-family: $fontFamilyFour;

    b {
      color: $softBlue;
    }
  }

  //single result styles
  article {
    margin-bottom: 71px;

    h2 {
      color: $twilightBlue;
      font-size: 43px;
      line-height: 50px;
      letter-spacing: 0.46px;
      margin-bottom: 0px;
    }
    .author {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.62px;
      color: $softBlue;
      margin-bottom: 0px;
      font-family: $fontFamilyFour;
      text-transform: uppercase;
    }
    .excerpt {
      color: $steel;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    .read-more {
      @extend %ctaButton_Blue;
    }
  }
}
